body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #424042;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  background-color: #ffcf00;
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

}


#part1 {
  margin: 11rem 0 6rem 0;
  text-align: center;
}

#part2 {
  background-color: #ffcf00;
  width: 100%;
  padding: 4rem 0 4rem 0;
  text-align: center;
}

#part3 {
  padding: 4rem 0 4rem 0;
  text-align: center;
}

#part2 img {
  margin: 2rem 3rem 0 3rem;
}

#oslo-met-logo {
  margin-left: 5%;
}

.document {
  display: inline-block;
  transition: transform .2s;
}

.document:hover {
  transform: scale(1.2); 
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.group-member {
  display: inline-block ;
  text-align: center;
  margin: 0 2% 0 2%;
}

.picture {
  display: block;
}