html {
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  background-color: #ffcf00;
  color: black;
  text-align: center;
  margin-bottom: 2rem;
}

section {
  text-align: center;
}

.container {
  text-align: center;
  padding: 0.5rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
}

#osloMetLogo {
  display: inline;
  margin-right: 20%;
}

#nav {
  visibility: hidden;
  display: inline;
  margin-left: 20%;
}